[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
requests-html = "*"
colorama = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
